@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
	--clr-white: hsl(0, 0%, 100%);
	--clr-slate-300: hsl(212, 45%, 89%);
	--clr-slate-500: hsl(216, 15%, 48%);
	--clr-slate-900: hsl(218, 44%, 22%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
html {
	width: 100%;
	height: 100%;
}

body {
	background-color: var(--clr-slate-300);
	font-family: "Outfit", sans-serif;
	overflow-x: hidden;
}

.card-container {
	display: grid;
	place-items: center;
	width: 100%;
	height: 100%;
}

.card {
	max-width: 310px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border-radius: 1rem;
	padding: 1rem;
	margin: auto;
	background-color: var(--clr-white);
}

.qr-code {
	border-radius: 0.8rem;
	margin-bottom: 1.25rem;
}

.card-title {
	font-size: 1.4rem;
	color: var(--clr-slate-900);
	margin-bottom: 1rem;
	padding-inline: 0.5rem;
}

.card-text {
	font-size: 15px;
	color: var(--clr-slate-500);
	padding-inline: 0.5rem;
	margin-bottom: 1.5rem;
}
